body {
    background-image: url("../imagens/outerwinds.jpg");
    margin: 0;
    padding: 0;
}

.tp1 {
    text-align: center;
    padding-top: 430px;
    color: #F2C94C;
    font-size: 25px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    margin: 0;
    background-color: #0A0F26;
    width: 97.6%;
    list-style-type: none;
    height: 40px;
}

#menu li {
    text-align: center;
    padding: 20px;
}

#menu li a {
    text-decoration: none;
    color: #D6E4FF;
}

#menu li a:hover {
    color: #4A90E2;
    font-size: 1.5em;
}

#nome {
    color: #D6E4FF;
    text-align: left;
    padding-top: 10px;
    top: 0px;
    margin: 0;
    position: fixed;
    list-style-type: none;
}

.tp2 {
    color: #F2C94C;
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
}

.stp2 {
    display: flex;
    color: #F2C94C;
    justify-content: center;
    list-style-type: none;
    font-size: 40px;
    margin-top: -100px;
}

.stp2 li {
    padding: 250px;
}

.cp2 {
    display: flex;
    color: #F2C94C;
    justify-content: center;
    font-size: 24px;
    list-style-type: none;
    margin-top: -380px;
}

.cp2 li {
    padding: 150px;
}

#email {
    padding-right: 350px;
}

#github {
    padding-top: 35px;
    padding-left: 40px;
}

.tp3 {
    color: #F2C94C;
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
}

#apqf {
    padding-top: 100px;
    font-size: 32px;
}

.p1e3 {
    display: flex;
    color: #F2C94C;
    justify-content: space-around;
    list-style-type: none;
    font-size: 27px;
    flex: 33%;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    padding-top: 60px;
}

.p1e3 li {
    width: 320px;
    margin: 0;
    padding: 0;
}