body { 
    background-image: url("../imagens/outerwinds.jpg");
} 
.tp1 {
    text-align: center;
    padding-top: 350px;
    color: #F2C94C;
    font-size: 25px;
}
#menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    margin: 0;
    background-color: #0A0F26;
    width: 97.6%;
    list-style-type: none;
    height: 40px;
}

#menu li {
    text-align: center;
    padding: 20px;
}

#menu li a {
    text-decoration: none;
    color: #D6E4FF;
}

#menu li a:hover {
    color: #4A90E2;
    font-size: 1.5em;
}

#nome {
    color: #D6E4FF;
    text-align: left;
    padding-top: 10px;
    top: 0px;
    margin: 0;
    position: fixed;
    list-style-type: none;
}

.tp2 {
    color: #F2C94C;
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
}

.tsm {
    color: #F2C94C;
    padding-top: 200px;
    text-align: left;
    padding-left: 180px;
    font-size: 16px;
}

.cmc {
    color: #F2C94C;
    text-align: right;
    padding-right: 180px;
    margin-top: -150px;
}